<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>vue</h1>
    <div id='app'>
        <p>文本式渲染：{{ message }}</p>
        <span>html式渲染</span>
        <span v-html='message'></span>
        </div>
    <div class='app2' id='app2'>
        <span v-bind:title='message'>鼠标悬停ya</span>
    </div>
    <div id='app3'>
        内容是否可见
        <span v-if='seen'>
            现在你看见可;判断；选择是否显示
        </span>
    </div>
    <div id='app4'>
        <div v-for='todo in todos'>
            {{ todo.index}}
        </div>
    </div>
    <div id='app5'>
        <p>{{message}}</p>
        <button v-on:click='reverseMessage'>逆转消息</button>
    </div>
    <div id='app6'>
        <p>{{message}}</p>
        <input type="text" v-model='message'>
    </div>
    <h1>vue 组件</h1>
    <div id='app7'>
        <ol>
            <todo-item
            v-for='item in list'
            v-bind:todo='item'
            v-binnd:key='item.id'
            ></todo-item>
        </ol>
    </div>
    <!--Object freeze -->
    <div id='app8'>
        <p>{{foor}}</p>
        <button v-on:click='foor = "bjk"'>Object.freeze阻止重新渲染</button>
    </div>
    <h3>回调</h3>
    <div id='app9'>
        <p>{{a}}</p>
    </div>
    <div v-bind:id="dynamicId"></div>
    <button v-bind:disabled="isButtonDisabled">Button</button>
    <h2>计算属性</h2>
    <div id='example'>
        <p>{{message}}</p>
        <p>{{reversedMessage}}</p>
        <p>{{changemessage()}}</p>
    </div>
    <h2>侦听属性</h2>
    <div id='demo'>
        {{fullName}}
    </div>
    <div id='watch-example'>
        <p>{{answer}}</p>
        <input type="text" v-model='question'>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src='./script.js'></script>

</html>